@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb {
  background-color: #ff8b14;
  border: 2px solid #fff;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3c3c3c;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(2px);
}
.rating-progressBar::-webkit-progress-bar {
  background: #ababab;
}
.rating-progressBar::-moz-progress-bar {
  background: #ababab;
}
.rating-progressBar::-webkit-progress-value {
  background-color: #ff8b14;
}
.rating-progressBar::-moz-progress-bar {
  background-color: #ff8b14;
}
