@tailwind base;
@tailwind components;
@tailwind utilities;

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(2px);
}

body {
  background-color: #f3f4f6;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #ff8b14;
  border: 2px solid white;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(60, 60, 68);
}
